@import './../../variables.scss';

.Specification {
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
}

.Specification__img {
    width: 100%;
    height: auto;
}

.Specification__title {
    color: $dark-green;
    font-size: 34px;
    margin: 0;
    margin-bottom: 20px;
}

.Specification__rule {
    font-size: 30px;
    font-weight: 700;
    color: $dark-blue;
    letter-spacing: 1px;
}

@media (max-width: $tablet) {
    .Specification {
        padding: 10% 0;
    }

    .Specification__title {
        padding: 0 5%;
    }
}