@import './variables.scss';

.App {
    background-color: $light-bg;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.App__container {
    padding: 16px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}