@import './variables.scss';

.App {
    background-color: $light-bg;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App__container {
    width: 100%;
    max-width: 1440px;
    flex: 1 0 auto;
    margin: 0 auto;
}