$basic-white: #fff;
$light-green: #a3d83e;
$dark-text: #010f2e;
$light-text: #777;
$light-bg: #efffce;
$dark-green: #76c21b;
$dark-blue: #007bff;
$footer-bg: #306331;

$tablet: 1023px;
// $mobile: 767px;